<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <%- include('head') %>
</head>
<body class="container">
   <% if (typeof todo !== 'undefined') { %>
      <h1>Edit todo</h1>
      <form method="POST">
            <div class="form-group">
               <label>Name</label>
               <input value="<%= todo['name'] %>" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
               <label>Completion</label>
               <input value="<%= todo['completion'] %>" name="completion" class="form-control" placeholder="Completion">
            </div>
            <div class="form-group">
               <label>User ID</label>
               <input value="<%= todo['userId'] %>" name="userId" class="form-control" placeholder="User ID">
            </div>
            <button formaction="/todos/todo['id'] %>?_method=PUT" type="submit" class="btn btn-primary">Edit</button>
         </form>
   <% }else{ %>
      <h1>Add todo</h1>
      <form method="POST">
         <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" placeholder="Name">
         </div>
         <div class="form-group">
            <label>Completion</label>
            <input name="completion" class="form-control" placeholder="Completion">
         </div>
         <div class="form-group">
            <label>User ID</label>
            <input name="userId" class="form-control" placeholder="User ID">
         </div>
         <button formaction="/todos" type="submit" class="btn btn-primary">Add</button>
      </form>
   <% } %>
</body>
</html>