<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
</head>
<body class="container">
   <h1>Add todo</h1>
   <form method="POST">
      <input name="name" value="<%= todo['name'] %>" placeholder="name"/>
      <input name="completion" value="<%= todo['completion'] %>" placeholder="completion"/>
      <input name="userId" value="<%= todo['userId'] %>" placeholder="ID user"/>
      <button formaction="/todos/<%= todo['id'] %>?_method=PUT" type="submit">Envoyer</button>
   </form>
</body>
</html>