<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <%- include('head') %>
</head>
<body class="container">
      <h1>Requête: <%= request %></h1>
      <% if (todo) { %>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Completion</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Updated at</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><%= todo.id %></td>
                  <td><%= todo.name %></td>
                  <td><%= todo.completion %></td>
                  <td><%= moment(todo.created_at).format("L") %></td>
                  <td><%= moment(todo.updated_at).format("L") %></td>
               </tr>
            </tbody>
         </table>
   <% }else{ %>
      <p>Todo not found</p>
   <% } %>
</body>
</html>