<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <%- include('head') %>
</head>
<body class="container">
<h1>Requête: <%= request %></h1>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
         </tr>
      </thead>
      <tbody>
      <% for(var i=0; i < users.length; i++) { %>
         <tr>
            <td><%= users[i].userId %></td>
            <td><%= users[i].firstname %></td>
            <td><%= users[i].lastname %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].email %></td>
            <td><%= moment(users[i].createdAt).format("L") %></td>
            <td><%= moment(users[i].updatedAt).format("L") %></td>
         </tr>
      <% } %>
      </tbody>
      </table>
   <table>
</body>
</html>